<body>
    <div id="wrapper">
      <h1>Scrapping Project</h1>
      <h2><i>Demonstrating proficiency with scrapping</i></h2>
      <ul>
  {{#each data}} 
      {{> articles/article-block}}
  {{/each}}
</ul>
    </div>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script src="app.js"></script>
  </body>
